<div class="center jumbotron">
  <h1>Welcome to LightVest!</h1>

  <h2>
    The most trusted financial planning software in the world.

  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
